/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 700px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

dt {
  border-top: 1px solid grey;
  padding-top: 4px;
  margin-top: 4px;
}

.markdown-edit {
    background: lightyellow;
    padding: 10px 0 10px 0;
}

.markdown-input {
    min-width: 100%;
    resize: vertical;
}

.html-preview {
    border: 1px solid grey;
    background: white;
    overflow-y: scroll;
}

.editor {
    background: lightyellow;
}
